*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

 body{
    background:#f5f5f5;
    width: 100%;
    height: auto;
} 

 SECTION
.facilities{
  width: 100%;
  height: auto;
  background: #12121a;
} 




.hero {
  /* height: 90vh; */
  /* background: url("image/INDEX\ IMAGE.jpeg") center/cover no-repeat; */
  position: relative;
  color: white;
  background-blend-mode:screen ;
  background-size: cover;
  filter: 1.25;
   
} 


  /* Logo Image */
.logo_cont{
  width: 20%;
  height: auto;
  display:flex;
  gap: 10px;
  align-items: center;
   font-family: "Cormorant Garamond", serif;
    margin-left: 10px;
}

.img{
  width: 45px;
  height: 45px;
  object-fit: contain;
}




 .nav-container{
  width: 100%;
  height: 70px;
 padding: 0px;

} 




 .nav{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 20px; 
   position: fixed;
   z-index: 1000;
   background-color: #00224f;
  
} 


.nav a{
 text-decoration: none;
}

.nav i{
  color: #c8a96a;
}

.dropdown{
  display:none;
} 



 .nav ul{
  width: 70%;
  height: 50px;
  display: flex;
  gap: 25px;
  text-align: right;
  justify-content:center;
  list-style: none;
  margin: auto;
  font-family: sans-serif;
} 


 .dropdown{
  display:none;

} 

.nav ul li {
  height: 40px;
  text-align: center;
  color: rgb(238, 219, 219);
  font-size: 17px;
  border-radius: 10px;
  padding:5px;
  background-color: transparent;
 
} 


 .nav ul li i{
   color: #d9610c;
}

.nav ul li a{
   color: #f0eaea;
} 





/* Logo Image */
/* .logo img {
  width: 100px;
  height: auto;
  display: block;
  font-size:30px;
} */

/* #img{
  width: 150px;
  height: 150px;
  margin: auto;
} */

 #p{
  font-size: 70px;
  text-align: center;
  color: #c4bdbd;
}

/* Hotel Name */
/* .logo-container p {
  font-size: 24px;
  color: rgb(192, 192, 208);
  font-weight: 600;
  letter-spacing: 1px;
} */


.hero-content {
  text-align: center;
  margin-top: 120px;
   margin: auto;
   font-family: sans-serif;
}

.hero-content h1{
    font-size: 45px;
    color: rgb(113, 113, 119);
}


.hero-content h2{
  color: #c8a96a;  
  font-size: 40px;
}

.hero-content p{
    color: rgb(184, 179, 179);
}

.hero-content button {
  padding: 15px 30px;
  background: #c8a96a;
  border: none;
  color: white;
  font-weight: bold;

}  
  /* ============================ */


 



/* =========================== */

.section-title{
    text-align:center;
    font-size:32px;
    margin-bottom:40px;
    /* color:#222; */
    color: #c3bdbd;
    margin-top: 40px;
}

/* GRID CONTAINER */
.facility-container{
  width: 90%;
  margin:0 auto 70px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap:30px;
    margin-top: 50px;
}


.section-title{
  text-align: center;
  padding: 2rem;
   font-family: "Cormorant Garamond", serif;
   color:#e2c48c;

}

/* CARD DESIGN */
.facility-card{
    background:#021024;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.facility-card:hover{
    transform:translateY(-8px);
}

/* IMAGE */
.facility-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

/* CONTENT */
.facility-content{
    padding:20px;
}

.facility-content h3{
    margin-bottom:10px;
    color:white;
}

.facility-content p{
    font-size:14px;
    color:#bebaba;
    line-height:1.6;
    margin-bottom:20px;
}

/* BUTTON */
.facility-content button{
    padding:10px 20px;
    border:none;
    background:#c59d5f;
    color:white;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.facility-content button:hover{
    background:#a07c45;
display: grid;
grid-template-columns: repeat(auto-fit, minmax (300px,1fr)); 

}
/* //Description// */

.Description-wrapper{
  width: 100%;
  height: 400px;
  background: #12121a;
  padding-top: 25px;
   
}


.articles-container{
  width: 95%; 
  height: 300px; 
  background-color: #ede4e4b1;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
  /* border: 1px solid red; */
  border-radius: 10px;
}

.articles{
  width: 95%;
  height: auto;
  margin: auto;
  display: block;
  line-height:1.2 ;
  margin-top: 10px;
  color: rgb(59, 57, 57);
}

#Description{
  text-align: center;
  margin-bottom: 10px;
  color: #141313;
  
}



/* ================= CATEGORIES ================= */
.categories {
    display: flex;
    gap: 12px;
    padding: 20px;
    overflow-x: auto;
    /* background: #fff; */
    background:#021220;
}

.categories button {
    background: transparent;
    border: 1px solid #ddd;
    padding: 10px 18px;
    border-radius: 30px;
    cursor: pointer;
    white-space: nowrap;
    color: #fff; 
}

.categories .active {
    background: #111;
    color: #fff;
}

.filter-btn {
    margin-left: auto;
}


/* ================= PROPERTY SECTION ================= */

.property-section {
    padding: 40px 5%;
    background-color:rgba(250, 250, 210, 0.432);
      /* background:linear-gradient(to right, #0f0f14,#434345),#0f0f14; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.property-section h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* ================= CARD ================= */
.card {
    background:#011837 ;
    /* background: #fff; */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 7px 15px rgba(145, 141, 141, 0.726);
    /* transition: transform 0.3s; */
     transition: all ease-in 0.8s;
}

.card:hover {
    /* transform: translateY(-5px); */
    transform: translate();
    transform: scale(1.07);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    font-size: 1rem;
    margin-bottom: 5px;
     /* color: #ddd4d4; */
     color: #111;
}

.card-body p {
    font-size: 0.9rem;
    color: #ddd4d4;
      color: #111;
}

.card-body span {
    font-size: 0.85rem;
    font-weight: bold;
}


 /*============================= /Footer Main ======================== */

.footer {
  background: #0b0f1a;
  color: #fff;
  padding-top: 60px;
  font-family: Arial, sans-serif;
}

/* Container */
.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Columns */
.footer-col h3,
.footer-col h4 {
  margin-bottom: 20px;
  color: gold;
}

.footer-col p {
  line-height: 1.6;
  font-size: 14px;
}

/* Links */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: gold;
}

/* Form */
.footer-col form {
  display: flex;
  flex-direction: column;
}

.footer-col input {
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 4px;
}

.footer-col button {
  padding: 10px;
  border: none;
  background: gold;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

/* Bottom Bar */
.footer-bottom {
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 40px;
  font-size: 14px;
}






/* ======================================================= */



@media(max-width:550px){
  .logo_cont  {
  width: auto;
  display:flex;
  align-items: center;
  margin-left: 10px;
  font-family: "Cormorant Garamond", serif;
  }



  .img{
   width: 45px;
   height: 45px;
     
  }

}



@media (max-width: 550px){



  .header{
    width: 100%;
    height: 70px;
    /* border: 2px solid green; */
    position: fixed;
    z-index: 1000;
  }


  .nav-container{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }


.nav{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 20px; 
    justify-content:0;
     left: 0;
    z-index: -1;
    background-color: #00224f;
    bottom: 0px;
    position: absolute;
}


  .nav ul{
    width: 100%;
   /* gap: 18px; */
   justify-content:center;
   padding: 0 12px;
   align-items: center;
   display: none;
  
  }



.dropdown{
  display:block;
  display: flex;
  justify-content: right;
  position: absolute;
  top: 25%;
  right:35px;
}

.dropdown button{
  border: none;
  background-color: transparent;
  color: white;
  /* padding: 1rem; */
  font-size: 25px;
 
}


.nav ul li{
  /* display: block; */
  width:100%;
  height: auto;
  /* margin-left: 20px;  */
  color: rgb(173, 173, 196);
  font-size: 17px;
  justify-content: center;
 
}



.dropdown-menu li i{
   color: #d9610c;
}

.nav ul li a{
   color: #0d0d0d;
  
}

}


@media (max-width: 550px) {

  .logo-container {
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .logo img {
    width: 70px;              
    margin-bottom: 8px;
  }

  .logo-container p {
    font-size: 18px;
  }


  


  /* ============categories ================= */


  .categories {
    display: flex;
    overflow-x: auto;          /* enables horizontal scroll */
    gap: 10px;
    padding: 10px;
    white-space: nowrap;       /* prevents wrapping */
    scrollbar-width: none;     /* hide scrollbar (Firefox) */
  }

  .categories::-webkit-scrollbar {
    display: none;             /* hide scrollbar (Chrome) */
  }

  .categories button {
    flex: 0 0 auto;            /* prevents shrinking */
    padding: 8px 12px;
    font-size: 12px;
  }

  .filter-btn {
    margin-left: auto;         /* pushes it to the right */
  }


}

  @media (max-width: 550px){

  
.articles-container{
  width: 100%; 
  height: 500px; 
  background-color: #ede4e4b1;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
  /* border: 1px solid red; */
  border-radius: 5px;
}


.Description-wrapper{
  width: 100%;
  height: auto;
  background: #12121a;
  padding-top: 25px;  
}


} 


@media (max-width: 550px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 550px) {


  .footer-container {
    grid-template-columns: 1fr;
    text-align:left;
   
  }

  .footer-col form {
    align-items: left;
  }

  .footer-col input {
    width: 100%;
  }
}


/*================== 750px============ */




@media(max-width:750px){
    .logo_cont  {
  width: auto;
  display:flex;
  align-items: center;
   margin-left: 10px;
   font-family: "Cormorant Garamond", serif;
}



    .img{
     width: 45px;
     height: 45px;
     
    }

}



@media (max-width: 750px){



  .header{
    width: 100%;
    height: 70px;
    /* border: 2px solid green; */
    position: fixed;
    z-index: 1000;
  }


  .nav-container{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }


.nav{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 20px; 
    justify-content:0;
     left: 0;
    z-index: -1;
    background-color: #00224f;
    bottom: 0px;
    position: absolute;
}


  .nav ul{
    width: 100%;
   /* gap: 18px; */
   justify-content:center;
   padding: 0 12px;
   align-items: center;
   display: none;
  
  }



.dropdown{
  display:block;
  display: flex;
  justify-content: right;
  position: absolute;
  top: 25%;
  right:35px;
}

.dropdown button{
  border: none;
  background-color: transparent;
  color: white;
  /* padding: 1rem; */
  font-size: 25px;
 
}


.nav ul li{
  /* display: block; */
  width:100%;
  height: auto;
  /* margin-left: 20px;  */
  color: rgb(173, 173, 196);
  font-size: 17px;
  justify-content: center;
 
}



.dropdown-menu li i{
   color: #d9610c;
}

.nav ul li a{
   color: #0d0d0d;
  
}

}


@media (max-width: 750px) {

  .logo-container {
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .logo img {
    width: 70px;              
    margin-bottom: 8px;
  }

  .logo-container p {
    font-size: 18px;
  }


  


  /* ============categories ================= */


  .categories {
    display: flex;
    overflow-x: auto;          /* enables horizontal scroll */
    gap: 10px;
    padding: 10px;
    white-space: nowrap;       /* prevents wrapping */
    scrollbar-width: none;     /* hide scrollbar (Firefox) */
  }

  .categories::-webkit-scrollbar {
    display: none;             /* hide scrollbar (Chrome) */
  }

  .categories button {
    flex: 0 0 auto;            /* prevents shrinking */
    padding: 8px 12px;
    font-size: 12px;
  }

  .filter-btn {
    margin-left: auto;         /* pushes it to the right */
  }


}

  @media (max-width: 750px){

  
.articles-container{
  width: 100%; 
  height: 500px; 
  background-color: #ede4e4b1;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
  /* border: 1px solid red; */
  border-radius: 5px;
}


.Description-wrapper{
  width: 100%;
  height: auto;
  background: #12121a;
  padding-top: 25px;  
}


} 



@media (max-width: 750px) {

  .footer-container {
    grid-template-columns: 1fr;
    text-align:left;
   
  }

  .footer-col form {
    align-items: left;
  }

  .footer-col input {
    width: 100%;
  }
}


/* ========================1200px========= */

@media(max-width:1200px){
    .logo_cont  {
  width: auto;
  display:flex;
  align-items: center;
   margin-left: 10px;
   font-family: "Cormorant Garamond", serif;
}



    .img{
     width: 45px;
     height: 45px;
     
    }

}



@media (max-width: 1200px){



  .header{
    width: 100%;
    height: 70px;
    /* border: 2px solid green; */
    position: fixed;
    z-index: 1000;
  }


  .nav-container{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }


.nav{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 20px; 
    justify-content:0;
     left: 0;
    z-index: -1;
    background-color: #00224f;
    bottom: 0px;
    position: absolute;
}


  .nav ul{
    width: 100%;
   /* gap: 18px; */
   justify-content:center;
   padding: 0 12px;
   align-items: center;
   display: none;
  
  }



.dropdown{
  display:block;
  display: flex;
  justify-content: right;
  position: absolute;
  top: 25%;
  right:35px;
}

.dropdown button{
  border: none;
  background-color: transparent;
  color: white;
  /* padding: 1rem; */
  font-size: 25px;
 
}


.nav ul li{
  /* display: block; */
  width:100%;
  height: auto;
  /* margin-left: 20px;  */
  color: rgb(173, 173, 196);
  font-size: 17px;
  justify-content: center;
 
}



.dropdown-menu li i{
   color: #d9610c;
}

.nav ul li a{
   color: #0d0d0d;
  
}

}


@media (max-width: 1200px) {

  .logo-container {
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .logo img {
    width: 70px;              
    margin-bottom: 8px;
  }

  .logo-container p {
    font-size: 18px;
  }


  


  /* ============categories ================= */


  .categories {
    display: flex;
    overflow-x: auto;          /* enables horizontal scroll */
    gap: 10px;
    padding: 10px;
    white-space: nowrap;       /* prevents wrapping */
    scrollbar-width: none;     /* hide scrollbar (Firefox) */
  }

  .categories::-webkit-scrollbar {
    display: none;             /* hide scrollbar (Chrome) */
  }

  .categories button {
    flex: 0 0 auto;            /* prevents shrinking */
    padding: 8px 12px;
    font-size: 12px;
  }

  .filter-btn {
    margin-left: auto;         /* pushes it to the right */
  }


}

  @media (max-width: 1200px){

  
.articles-container{
  width: 100%; 
  height: 500px; 
  background-color: #ede4e4b1;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
  /* border: 1px solid red; */
  border-radius: 5px;
}


.Description-wrapper{
  width: 100%;
  height: auto;
  background: #12121a;
  padding-top: 25px;  
}


} 

@media (max-width: 1200px) {

  .footer-container {
    grid-template-columns: 1fr;
    text-align:left;
   
  }

  .footer-col form {
    align-items: left;
  }

  .footer-col input {
    width: 100%;
  }
}





